<li class="burger">
	{{burger_name}}

	{{#if devoured}}
        {{!-- do nothing --}}
    {{else}}
    <button class="devour-burger btn btn-primary" data-id="{{this.id}}">DEVOUR IT!</button>
    <button class="delete-burger btn btn-danger" data-id="{{this.id}}">DELETE!</button>
    {{/if}}
</li>


{{!-- {{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}} --}}